.App {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  width: 100%;
}

.cover-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.title {
  font-size: 20px;
}


.Rick-Morty-cover {
  background-image: url("./images/rm-bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin: 5% 15%;
}


.Starwars-cover {
  background-image: url("./images/sw-bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin: 5% 15%;
}

.Pokemon-cover {
  background-image: url("./images/pk-bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin: 5% 15%;
}



/* write your parent styles in here for your App.js */